.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; 

}

.address-list {
    font-style: normal;
}

.menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
    color: #404bbf;
}

.number-mail-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.number-mail-link:hover,
.number-mail-link:focus {
    color: #404bbf;
    color: #404bbf;
}

.span-class {
    color: #2e2f42;
}

.first-section {
    background-color: #2e2f42;
}

.caption-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff
}

.button-one {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button-one:hover,
.button-one:focus {
    color: #ffffff;
    background-color: #404BBF;
}

.caption-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph-sec2 {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.third-section {
    background-color: #F4F4FD;
}

.caption-thethird {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

